[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/jaime/.Xauthority
Type=simple
ExecStart=/bin/bash /home/jaime/kiosk.sh
Restart=on-abort
User=jaime
Group=jaime

[Install]
WantedBy=graphical.target
